/*Parallax effect  */
.site-hero{
	height: 850px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
.site-hero::before{
	content: '';
	height: 100%;
	width: 100%;
	background: #fff url("../img/site-hero.jpg") no-repeat;
	background-size: cover;
	position: absolute;
	top:0;
	overflow: hidden;
	background-attachment: fixed;
}
/*end - Parallax effect  */

/*end - Button  */
.btn{
    display: inline-flex;
    align-items: center;
    height: 54px;
    padding: 0 44px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn.btn-success{
    color: #fff;
    background-color: var(--color-aqua);
}
.btn.btn-success:hover{
    background-color: var(--color-aqua-d);
}
/*end - Button  */
